* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  border-left: 2px solid #e7e7e7;
  border-right: 2px solid #e7e7e7;

  margin: 2rem;
}

/* Header */

.logo-header {
  display: flex;
  justify-content: space-between;
  /* box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075); */
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  /* border: 2px solid #9600ff33; */
}
.header-main {
  display: flex;
}
.logo-img {
  height: 3rem;
  width: 2rem;
}
h1 {
  font-size: 2.6rem;
  color: #707070;
  padding-left: 2rem;
}
.nav-bar {
  display: flex;
  gap: 1rem;
}
.btn-nav-menu,
.btn-nav-bell {
  border: none;
  background-color: inherit;
  color: #000000;
}
.btn-nav-menu {
  /* padding: 0.5rem; */
  font-size: 2.6rem;
}
.btn-nav-bell {
  font-size: 2.6rem;
}

/* section 1 */

.section-1{
  background: url(../img/01-background.svg);
  background-position: 60% 10%;
  background-size: 110% 80%;
  background-repeat: no-repeat;
  /* padding: 2rem; */
}
.heading-container{
    /* background-color: #EFEFEF96; */
    /* padding: -2rem; */

}
.heading-1{
  font-size: 28rem;
}
.heading-2{
  font-size: 5rem;
  font-weight: 100;
  margin-bottom: 10rem;
}
.image-container{
  text-align: center;
  margin-bottom: 10rem;
}
.section-img{
  width: 70%;
  height: auto;
  
}
.text{
  font-size: 2rem;
  text-align: center;
  padding: 2rem 20rem;
  margin-bottom: 8rem;
}

/* section 2 */
.section-2{
  padding-top: 15rem;
  background: url(../img/01-background.svg);
  background-position: 60% 30%;
  background-size: 110% 80%;
  background-repeat: no-repeat;
}

.sec-2{
  text-align: end;
  
}

/* section 3 */
.section-3{
  background: url(../img/01-background.svg);
  background-position: 60% 10%;
  background-size: 110% 80%;
  background-repeat: no-repeat;
}

/* section 4 */
.section-4{
  background: url(../img/01-background.svg);
  background-position: 60% 10%;
  background-size: 110% 80%;
  background-repeat: no-repeat;
}

.sec-4{
  text-align: end;
}

/* section 5 */
.section-5{
  background: url(../img/01-background.svg);
  background-position: 60% 10%;
  background-size: 110% 80%;
  background-repeat: no-repeat;

}

/* section 6 */
.section-6{
  background: url(../img/01-background.svg);
  background-position: 60% 10%;
  background-size: 110% 80%;
  background-repeat: no-repeat;
}

.sec-6{
  text-align: end;
}

/* section 7 */
.section-7{
  background: url(../img/01-background.svg);
  background-position: 60% 10%;
  background-size: 110% 80%;
  background-repeat: no-repeat;
}

/* section 8 */
.section-8{
  background: url(../img/01-background.svg);
  background-position: 60% 10%;
  background-size: 110% 80%;
  background-repeat: no-repeat;
}

.sec-8{
  text-align: end;
}

/* section footer */

.section-footer {
  display: flex;
  /* justify-content: center; */
  background-color: #707070;
  padding: 4rem;
}
.footer-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  width: 50%;
}
.footer-1-heading {
  font-size: 8rem;
  color: #9e9c9c;
  font-weight: 100;
  opacity: 20%;
}
.footer-bottom {
  /* text-align: center; */
  /* padding-left: 8rem; */
  padding: 2rem;
}
.footer-1-btn {
  border: none;
  background-color: #707070;
  font-size: 3rem;
  color:#ffffff;
  
  
}
.footer-2 {
  border-left: 2px solid #ffffff;
  padding: 3rem;
}
.footer-heading {
  font-size: 2.6rem;
  color: #ffffff;
  font-weight: 100;
  margin-bottom: 1.5rem;
}

.footer-text {
  font-size: 1.4rem;
  color: #ebebeb;
  list-style: none;
  margin-bottom: 1rem;
  margin-right: 40%;
}
.footer-reg {
  transform: rotate(-90deg);
  padding-top: 25%;
  /* padding-right: 1rem; */
  font-size: 1.2rem;
  color: #ffffff;
  /* text-align: end; */
  margin-bottom: 18rem;
}
.logo-img-footer{
  height: 8rem;
  width: 8rem;
  /* opacity: 10%; */
}