* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  border-left: 2px solid #e7e7e7;
  border-right: 2px solid #e7e7e7;

  margin: 2rem;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);
  align-items: center;
  padding: 1rem;
  /* border: 2px solid #9600ff33; */
}
h1 {
  font-size: 2.6rem;
  color: #707070;
  padding-left: 2rem;
}
.logo-header {
  display: flex;
}
.logo-img {
  height: 2.6rem;
  width: 2rem;
  padding: 1r;
}
.btn-nav-lang,
.btn-nav-menu {
  border: none;
  background-color: #ffffff;
}
.btn-nav-lang {
  /* padding: 1.2rem; */
  margin-right: 2rem;
}
.btn-nav-menu {
  /* padding: 0.5rem; */
  font-size: 2.6rem;
}

/* section contacts  */

.section-contacts {
  display: flex;
  padding: 4rem 8rem;
  gap: 4rem;
  justify-content: space-between;
  background-image: linear-gradient(to left, #aebaf8, #9600ff);
}
.contact-heading {
  font-size: 4rem;
  font-weight: normal;
  color: #ffffff;
  padding: 4rem 4rem 1rem 4rem;
}
.contact-text {
  font-size: 1rem;
  color: #ffffff;
  padding: 0 4rem 0 4rem;
}
.contact-form {
  padding: 4rem 4rem;
}
.contact-input {
  margin: 1rem 60% 0 0;
  padding: 1rem 1rem;
  width: 140%;
  margin-bottom: 2rem;
  border-radius: 1rem;
  border: 2px solid #ffffff;
  color: #be3265;
}
::placeholder {
  color: #be3265;
}
.btn-send {
  font-size: 1.4rem;
  padding: 1rem 6rem;
  /* border: 2px solid #ffffff; */
  border-radius: 1rem;
  background-color: #be3265;
  color: #ffffff;
  /* margin-left: 8rem; */
  margin-bottom: 2rem;
}

/* section address */
.section-address {
  padding: 4rem 8rem;
}
.address-head {
  display: flex;
  justify-content: space-between;
}
.address-heading {
  font-size: 5rem;
  font-weight: 200;
  padding: 8rem 17rem 0 4rem;
  margin-bottom: 2rem;
  color: #707070;
}
.address-text {
  font-size: 3rem;
  /* padding: 2rem 2rem 0 0; */
  margin-bottom: 2rem;
  margin-left: 8rem;
  padding: 8rem 17rem 0 2rem;
}
.address-point {
  display: flex;
  justify-content: space-around;
  /* margin-bottom: 4rem; */
}
.add-block-1 {
  background-image: linear-gradient(to bottom right, #eca459, #be3265);
  margin-top: 2rem;
  height: 10rem;
  width: 32rem;
  padding: 2rem;
  border-radius: 1rem;
}
.add-block-2 {
  background-color: #00000029;
  height: 10rem;
  margin-top: 2rem;
  width: 32rem;
  padding: 2rem;
  border-radius: 1rem;
}
.add-heading-1 {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 1rem;
  color: #ffffff;
}
.add-heading-2 {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 1rem;
  color: #333333;
}
.add-text-1 {
  color: #ffffff;
  margin-bottom: 0.5rem;
}
.add-text-2 {
  margin-bottom: 0.5rem;
  color: #333333;
}

/* section newsletter */

.section-newsletter {
  display: flex;
  justify-content: space-between;
  gap: 8rem;
  padding: 4rem 8rem;
  background-image: linear-gradient(to right, #eca459, #be3265);
}
.newsletter-heading {
  font-size: 4rem;
  font-weight: 100;
  padding: 2rem 45% 0 0;
  color: #ffffff;
}
.newsletter-text {
  font-size: 1rem;
  padding: 0.5rem 50% 2rem 0;
  color: #ffffff;
}
.newsletter-input {
  margin: 1rem 60% 0 0;
  padding: 1rem 1rem;
  width: 55%;
  margin-bottom: 2rem;
  border-radius: 1rem;
  border: 2px solid #ffffff;
  color: #be3265;
}
.btn-newsletter {
  font-size: 1.4rem;
  padding: 1rem 6rem;
  border: none;
  border-radius: 1rem;
  background-color: #be3265;
  color: #ffffff;
  /* margin-left: 8rem; */
  margin-bottom: 2rem;
}

/* footer section */

.section-footer {
  /* display: flex; */
  padding: 2rem 8rem;
  background-color: #f1f1f1;
}
.footer-img {
  text-align: center;
  margin-bottom: 2rem;
}
.footer-logo-img {
  height: 5rem;
  width: 4rem;
  text-align: center;
}
.footer-tab {
  display: flex;
  gap: 14rem;
}
.footer-heading {
  font-size: 2.8rem;
  color: #2a2a2a;
  font-weight: 100;
  margin-bottom: 1.5rem;
}
.footer-text {
  font-size: 1.8rem;
  color: #333333;
  list-style: none;
  margin-bottom: 1rem;
}
.footer-reg {
  text-align: center;
  margin-top: 6rem;
  font-size: 1.4rem;
}
