* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  border-left: 2px solid #e7e7e7;
  border-right: 2px solid #e7e7e7;

  margin: 2rem;
}

/* Header */

.logo-header {
  display: flex;
  justify-content: space-between;
  /* box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075); */
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  /* border: 2px solid #9600ff33; */
}
.header-main {
  display: flex;
}
.logo-img {
  height: 3rem;
  width: 2rem;
}
h1 {
  font-size: 2.6rem;
  color: #707070;
  padding-left: 2rem;
}
.nav-bar {
  display: flex;
  gap: 1rem;
}
.btn-nav-menu,
.btn-nav-bell {
  border: none;
  background-color: inherit;
  color: #000000;
}
.btn-nav-menu {
  /* padding: 0.5rem; */
  font-size: 2.6rem;
}
.btn-nav-bell {
  font-size: 2.6rem;
}

/* section form */


.section-form{
  display: grid;
  grid-template-columns: 50fr 50fr;
  gap: 3rem;
  align-items: center;
  /* padding: 4rem 0 4rem 0; */
  
}
.form-img{
  height: 40rem;
  width: 100%;
}
.form-container{
  background: url(../img/image-2-background.svg);
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-size: 180% 380%;
  padding: 18rem 2rem 18rem 2rem;
}
.input{
  width: 90%;
  border: none;
  border-bottom: 1px solid #707070;
  font-size: 2rem;
  padding: 1rem 2rem 1rem 0;
  /* margin-left: 100%; */
  background-color: inherit;
  margin: 3rem;

}
.btn-form{
  background-color:#2699FB ;
  margin: 3rem;
  font-size: 2rem;
  padding: 1rem 4rem;
  border-radius: 1rem;
  border: none;
}


/* section address */

.section-address{
  display: flex;
  padding-top: 8rem;
  padding-bottom: 8rem;
  /* justify-content; */
  

}
.address-heading{
  font-size: 3.5rem;
  padding: 1rem 4rem;
  text-align: center;

}
.address-text{
  font-size: 2.3rem;
  padding: 1rem 4rem;
  text-align: center;

}
.add-1{
  background: url(../img/form-background.svg);
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-size: 110% 150%;
  margin-bottom: 10rem;
  padding: 15rem 4rem 30rem 4rem;

}
.add-2{
  background: url(../img/form-background.svg);
  background-repeat: no-repeat;
  background-position: -80% 80%;
  background-size: 110% 140%;
  margin-top: 10rem;
  padding: 15rem 4rem 30rem 4rem;

}

/* section newsletter */

.section-newsletter{
  background-color: #D9D9D996;
  text-align: center;
  padding: 2rem;
}
.news-heading{
  font-size: 3rem;
  padding: 3rem;
}
.news-input{
  font-size: 1.4rem;
  padding: 2rem 6rem;
  margin-bottom: 2rem;
}
.news-btn{
  font-size: 1.4rem;
  padding: 2rem 11.5rem;
  margin-bottom: 4rem;
  border: none;
  border-radius: 0.8rem;
  background-color: #2699FB;
}

/* section footer */

.section-footer {
  display: flex;
  /* justify-content: center; */
  background-color: #707070;
  padding: 4rem;
}
.footer-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  width: 50%;
}
.footer-1-heading {
  font-size: 8rem;
  color: #9e9c9c;
  font-weight: 100;
  opacity: 20%;
}
.footer-bottom {
  /* text-align: center; */
  /* padding-left: 8rem; */
  padding: 2rem;
}
.footer-1-btn {
  border: none;
  background-color: #707070;
  font-size: 3rem;
  
  
}
.footer-2 {
  border-left: 2px solid #ffffff;
  padding: 3rem;
}
.footer-heading {
  font-size: 2.6rem;
  color: #ffffff;
  font-weight: 100;
  margin-bottom: 1.5rem;
}

.footer-text {
  font-size: 1.4rem;
  color: #ebebeb;
  list-style: none;
  margin-bottom: 1rem;
  margin-right: 40%;
}
.footer-reg {
  transform: rotate(-90deg);
  padding-top: 25%;
  /* padding-right: 1rem; */
  font-size: 1.2rem;
  color: #ffffff;
  /* text-align: end; */
  margin-bottom: 18rem;
}
.logo-img-footer{
  height: 8rem;
  width: 8rem;
  /* opacity: 10%; */
}