* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  border-left: 2px solid #9600ff33;
  border-right: 2px solid #9600ff33;

  margin: 2rem;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);
  align-items: center;
  padding: 1rem;
  /* border: 2px solid #9600ff33; */
}
h1 {
  font-size: 2.6rem;
  color: #707070;
  padding-left: 2rem;
}
.logo-header {
  display: flex;
}
.logo-img {
  height: 2.6rem;
  width: 2rem;
  padding: 1r;
}
.btn-nav-lang,
.btn-nav-menu {
  border: none;
  background-color: #ffffff;
}
.btn-nav-lang {
  /* padding: 1.2rem; */
  margin-right: 2rem;
}
.btn-nav-menu {
  /* padding: 0.5rem; */
  font-size: 2.6rem;
}
/* main */

.container-main {
  display: flex;
  padding: 8rem;
  /* border-left: 1px solid #9600ff33; */
  align-items: center;
  background-image: linear-gradient(to bottom left, #9600ff, #aebaf8);
}
.main-heading {
  font-size: 6rem;
  font-weight: 200;
  padding: 8rem 17rem 0 8rem;
  margin-bottom: 2rem;
  color: #ffffff;
}
.main-text {
  font-size: 1.3rem;
  padding: 0 17rem 0 8rem;
  margin-bottom: 2rem;
  color: #ffffff;
}
.btn-main {
  display: flex;
  gap: 5rem;
  padding: 0 20rem 0 8rem;
}
.btn-main-newltr,
.btn-main-git {
  font-size: 2rem;
  padding: 1rem 2rem;
  border: 2px solid #ffffff;
  border-radius: 1rem;
}
.btn-main-newltr {
  color: #9600ff;
  background-color: #ffffff;
}
.btn-main-git {
  background-color: #9600ff;
  color: #ffffff;
}
.main-img {
  height: 35rem;
  width: 30rem;
}

/* service section */
.service-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8rem;
}
.service-heading {
  font-size: 6rem;
  font-weight: 200;
  padding: 8rem 17rem 0 8rem;
  margin-bottom: 2rem;
  color: #707070;
}
.btn-service,
.service-menu {
  margin-left: 8rem;
}
.btn-service {
  color: #707070;
  background-color: #ffffff;
  font-size: 3rem;
  border: none;
}
.service-menu {
  font-size: 2rem;
  color: #8d8c8c;
  margin-bottom: 1rem;
}
.service-text {
  font-size: 1.2rem;
  padding: 2rem 17rem 0 2rem;
  margin-bottom: 2rem;
}
.btn-service-know {
  font-size: 2rem;
  padding: 1rem 2rem;
  border: 2px solid #ffffff;
  border-radius: 1rem;
  background-color: #be3265;
  color: #ffffff;
  margin-left: 2rem;
}

/* portfolio section  */

.portfolio-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 8rem;
  justify-content: center;
  align-items: center;
}
.portfolio-heading {
  font-size: 6rem;
  font-weight: 200;
  padding: 8rem 17rem 0 8rem;
  margin-bottom: 2rem;
  color: #707070;
}
.portfolio-text-ui {
  font-size: 3rem;
  padding: 2rem 2rem 0 0;
  margin-bottom: 2rem;
  margin-left: 8rem;
}
.portfolio-text {
  font-size: 1.6rem;
  padding: 2rem 2rem 0 0;
  margin-bottom: 2rem;
  margin-left: 8rem;
}
.btn-portfolio-km {
  font-size: 1.4rem;
  padding: 2rem 8rem;
  border: 2px solid #ffffff;
  border-radius: 1rem;
  background-color: #be3265;
  color: #ffffff;
  margin-left: 8rem;
}
.portfolio-btn-con {
  margin-left: 12rem;
}
.btn-portfolio {
  color: #707070;
  background-color: #ffffff;
  font-size: 3rem;
  border: none;
}
.portfolio-menu {
  font-size: 2rem;
  color: #8d8c8c;
  margin-bottom: 1rem;
}

/* stack section */

.section-technical-stack {
  padding: 8rem;
}

.technical-head {
  display: flex;
}
.stack-heading {
  font-size: 5rem;
  font-weight: 200;
  padding: 8rem 17rem 0 8rem;
  margin-bottom: 2rem;
  color: #707070;
}
.technical-stack-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  margin: 0 8rem;
  padding: 8rem;
}
.logo {
  height: 9rem;
  width: 7rem;
  padding: 2rem;
  border-radius: 5px;
  background-image: linear-gradient(to bottom right, #eca459, #be3265);
  background-color: black;
}

/* client section */
.section-footer {
  display: flex;
}
